@using MVCSkillsShowcaseApp.Models.Games
@model IEnumerable<BoardGameResultModel>

@{
    ViewData["Title"] = "Games";
}


<form id="form" method="post" asp-action="SearchGames">
    <div class="form-group">
        <label for="searchTerm" class="control-label">Search</label>
        <input id="searchTerm" name="searchTerm" type="text" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Search" class="btn btn-primary" />
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.YearPublished)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.YearPublished)
            </td>
            <td>
                @Html.ActionLink("Details", "ViewGame", new { gameId = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
